
//css @import 执行顺序：后果是只有执行到@import时，浏览器才会去下载其他css文件，这导致页面加载起来特别慢。
//sass @import 执行顺序：在生成css文件时就把相关文件导入进来
@import 'variable';
// 变量声明
$highlight-color: #F90 !default; //默认变量值;
$text-color:red;

.syntax1{
    color: $highlight-color;  // 变量引用
    font-weight: $weight-bold;//变量引用
    font-size: $font-size-20;//变量引用
    margin-bottom: 20px;
}

.syntax2{
    background: pink; 
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    div{
     margin-bottom: 8px;
     &:last-child{
         margin-bottom: 0;
     }
    }
 }


 .syntax3{
    background-color: #eaf8ff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    h1,h2,h3,h4{
        color:#009848 ;
    }
    &-solid{
        border-bottom: 1px dashed #9c9c9c;
        &:hover{
            border-color: $highlight-color;
            color: #009848;
            cursor: pointer;
        }
    }
 }

 @mixin content-bg {
    background-color: #fff4ec;
    padding: 20px;
    border-radius: 10px;
}

@mixin content-color($color:#fd1d1d) {
    color: $color
}
.syntax4{
    @include content-bg;
    h1{
        @include content-color(#ff7216);
    }
    h2{
        @include content-color(#ff7216);
    }
    h3{
        @include content-color(#18acff);
    }
    h4{
        @include content-color;
    }
}






